<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <title>第三方测试网站</title>
</head>
<body>
    <h3>第三方测试网站</h3><hr>
    <!-- <p><input type="button" value="编写日报" onclick="begin()"></p> -->
    <div><a href="http://127.0.0.1:8000/oauth/code?response_type=code&client_id=TEST_ID&redirect_uri=http://127.0.0.1:8001/authstate">编写日报</a></div>
</body>
<!-- <script>
    var get_url = "http://127.0.0.1:8000/oauth/code?response_type=code&client_id=TEST_ID&redirect_uri=http://127.0.0.1:8000/authstate&scope=read&write"
    function begin(){
        $.ajax({
            type:"get",
			url:get_url,
			success: function(result){
				if (result.code==200){
					alert('请求成功');
                    window.sessionStorage.setItem("redirectUrl1",result.data["redirectUrl1"])
					window.location.href='http://127.0.0.1:8000/oauth/code';
				}
				else{
					alert(result.msg);
				}
			}
        })
    }
</script> -->
</html>