<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <title>编辑页面</title>
</head>

<body>
    
</body>
<script>
    query = window.location.href.split("?")[1]
    request_url = "http://127.0.0.1:8000/api/getlog/edit/data?" + query
    log_id = query.split("&")[0].split("=")[1]
    mytype = query.split("&")[1].split("=")[1]
    console.log(log_id)
    $.ajax({
        type: "get",
        url: request_url,
        success: function (result) {
            if (200 == result.code) {
                html_body = '<h3>编辑日志</h3><hr><hr>';
                var data = result.data;
                if (data.length == 0) {
                    html_body += '<p>空空如也</p>'
                } 
                else {
                    html_body += '<p>汇报人:' + data.Username + '</p>';
                    if(mytype=="3"){
                        html_body+='<p>上周做了什么<textarea  class="lastweekSummary" name="weekSummary" cols="100" rows="10">'+data.LastweekSummary+'</textarea></p><p>这周的计划<textarea class="thisweekPlan" name="thisweekPlan" cols="100" rows="10">'+data.ThisweekPlan+'</textarea></p>'
                    }
                    html_body+='<p><input type="button" value="上传" onclick="post()"></p><p><input type="reset" value="重置"></p>'
                }
                $('body').html(html_body);
            }
            else{
                alert(result.msg)
            }
        }
        
    })
    function post(){
		var lastweekSummary=$('.lastweekSummary').val();
		var thisweekPlan=$('.thisweekPlan').val()
		var post_data={'log_id':log_id,'lastweekSummary':lastweekSummary,'thisweekPlan':thisweekPlan};
		$.ajax({
			type:'post',
			contentType:'application/json',
			dataType:'json',
			data:JSON.stringify(post_data),
			url:'http://127.0.0.1:8000/api/log/update3',		
			success: function(result){
				if (result.code==200){
					alert('发布成功');
					window.location.href='/getlog';
				}
				else{
					alert(result.msg);
					window.location.href="/login";
				}
			}
		})
	}
</script>

</html>