<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <title>查看日志</title>
</head>

<body>
    <!-- <div id='xss' style="display:none"></div> -->
</body>
<script>
    login_username = window.localStorage.getItem('login_username');
    login_token = window.localStorage.getItem('login_token');
    console.log(login_username);
    $.ajax({
        type: "get",
        url: "http://127.0.0.1:8000/api/getlog",
        beforeSend: function (request) {
            request.setRequestHeader("Authorization", login_token);
        },
        success: function (result) {
            if (200 == result.code) {
                alert("请求成功");//
                html_body = '<h3>查看日志</h3><hr><hr>';
                var data = result.data;
                if(data.length==0){
                    html_body+='<p>空空如也</p>'
                }else{
                    for(var i in data){
                        var MyType=data[i].MyType;
                        var Username=data[i].Username;
                        html_body+='<p>汇报人:'+Username+'</p>';
                        if(1==MyType){
                            html_body+='<p>今日总结:'+data[i].TodaySummary+'</p>';
                            html_body+='<p>明日计划:'+data[i].TomorrowPlan+'</p>';
                            html_body+='<p>今日学习时长:'+data[i].StudyTime+'</p>';
                        }
                        else if(2==MyType){
                            html_body+='<p>汇报名称:'+data[i].Title+'</p>';
                            html_body+='<p>汇报内容:'+data[i].Content+'</p>';
                            html_body+='<p>今日学习时长:'+data[i].StudyTime+'</p>';
                        }
                        else if(3==MyType){
                            html_body+='<p>上周做了什么:'+data[i].LastweekSummary+'</p>';
                            html_body+='<p>这周的计划:'+data[i].ThisweekPlan+'</p>';
                        }
                        html_body+='<hr>'
                        
                    }
                }
                $('body').html(html_body);
            }
            else{
                alert(result.msg);
                window.location.href="/login"
            }
        }
    })
</script>

</html>