<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <title>login!</title>
</head>
<body>
    <div id="form-div">
        <h3>登录</h3>
		<p>username: <input type="text" class="username" name="username"></p>
		<p>password:<input type="password" name="password" class="password"></p>
		<p><input type="button" value="登录" onclick="login()"></p>
		<p><input type="reset" value="重置"></p>
    </div>
</body>
<script>
    function login(){
		var username=$('.username').val();
		var password=$('.password').val();
		var post_data={'username':username,'password':password};
		$.ajax({
			type:'post',
			contentType:'application/json',
			dataType:'json',
			data:JSON.stringify(post_data),
			url:'http://127.0.0.1:8000/api/login',	
			success: function(result){
				if (result.code==200){
					alert('登录成功');
                    window.localStorage.setItem('login_username',result.data.username);
                    window.localStorage.setItem('login_token',result.data.token);
					window.location.href='/index';
				}
				else{
					alert(result.msg)
				}
			}
		})
	}
</script>
</html>